*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-neutral-800: #272727;
  --light-neutral-200: #f2f2f2;
  --yellow-500: #ffff24;
  --neutral-white-alpha-80: #ffffff;
  --light-blue-500: #0074c4;
}

@font-face {
  font-family: "SuecaSlab";
  font-weight: normal;
  src: local("SuecaSlab"),
    url(../res/fonts/suecaslab-medium.ttf) format("truetype");
}

@font-face {
  font-family: "SuecaSlab2";
  font-weight: bold;
  src: local("SuecaSlab2"),
    url(../res/fonts/suecaslab-bold.eot) format("'embedded-opentype'");
}

@font-face {
  font-family: "SuecaSlab2";
  font-weight: normal;
  src: local("SuecaSlab2"),
    url(../res/fonts/suecaslab-medium.eot) format("'embedded-opentype'");
}

@font-face {
  font-family: "SuecaSlab";
  font-weight: bold;
  src: local("SuecaSlab"),
    url(../res/fonts/suecaslab-bold.ttf) format("truetype");
}

body {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.title-normal {
  font-family: SuecaSlab, SuecaSlab2, Arial;
  font-weight: normal;
}

.title-bold {
  font-family: SuecaSlab, SuecaSlab2, Arial;
  font-weight: bold;
}
